
@media all and (max-width:1230px){
	
	.menu ul li{
		display:inline-block;
		margin-top:50px;
	}
}
	@media all and (max-width:768px){
		
		.menu ul li a{
			display:block;
		}
		.str{
	background:url(images/hand.png) no-repeat   center 300px; ;
	background-size:100% auto;
		}
		
		.button{
	padding-bottom:100px;
	text-align:center;
	
}
.design{
	background:url(images/pu.png) no-repeat center 260px;
	overflow:hidden;
	background-size:60% auto;
}
.text-aria h3{
	color:#e74c3c;
	font-size:22px;
	font-weight:normal;
	text-transform:uppercase;
	padding-top:150px;
	letter-spacing:3px;
	line-height:1.3em;
	overflow:hidden;
	padding-bottom:50px;
	
}

.text-aria p{
	color:#2C3A47;
	font-size:13px;
	line-height:2em;
	letter-spacing:3px;
	font-weight:normal;
	font-family:gotham-book;
	overflow:hidden;
	padding-bottom:80px;
}

.font a{
	font-size:25px;
	padding:10px 20px 50px 0;
	display:inline-block;
	color:#f39c12;
	transition:1s;
	overflow:hidden;
}
.font a:hover{
	color:gray;
	 transform:rotateY(15deg) scale(1.01);
	
}





.text-aria{
	width:100%;
	overflow:hidden;
	float:none;
}
  .van{
	width:98%;
	float:left;
	margin:0 1%;
	overflow:hidden;
	padding-bottom:20px;

}.appol{
	 display:block;
	 
 }
  .appol button[type="hello"]{
	 padding:29px 100px 18px 20px;
	 background:#1abc9c;
	 color:white;
	 text-transform:uppercase;
	 border-radius:3px 0 0 3px;
	 letter-spacing:3px;
	 border:none;
	 margin-bottom:5px;
	 
 }
 
 
 .appol a{
	 text-decoration:none;
	 color:white;
	 transition:1s;
	 display:inline-block;
	 text-align:center;
	 background:#16a085;
	 padding:15px 20px;
	 font-size:30px;
	 margin-left:-8px;
	 border:1px solid transparent;
	 margin-bottom:30px;
 }
  .appol a:hover{
	  transform:scale(1.1) rotateY(360deg);
	  background:white;
	  color:#16a085;
	  border:1px solid #16a085;
  }
 
  .appol button[type="hellos"]{
	 padding:29px 115px 18px 20px;
	 background:#1abc9c;
	 color:white;
	 text-transform:uppercase;
	 border-radius:3px 0 0 3px;
	 letter-spacing:3px;
	  border:none;
	  margin-left:20px;
	  margin-bottom:5px;
	 
 }
 
 
	
	}
@media all and (max-width:500px){
	.foot{
	background:url(images/cm.png) no-repeat center 60px ;
	overflow:hidden;
	background-size:30% auto;
}
}



	
	
	
	
	@media all and (max-width:1064px){
		
		.str{
	background:url(images/hand.png) no-repeat   right top cover;
	background-size:100% auto;
}
	}
	
	
	
	
	
	
	
	
		@media all and (max-width:500px){